
demo/res/demo.ico
demo/res/demo.rc2
demo/Debug/stdafx.obj
demo/Debug/demoDlg.obj
demo/Debug/demo.tlog/rc.write.1.tlog
demo/Debug/demo.tlog/rc.read.1.tlog
demo/Debug/demo.tlog/link.write.1.tlog
demo/Debug/demo.tlog/link.read.1.tlog
demo/Debug/demo.tlog/rc.command.1.tlog
demo/Debug/vc140.idb
demo/Debug/vc140.pdb
.vs/demo_table_tennis/v15/.suo
.vs/demo_table_tennis/v15/Browse.VC.db
.vs/demo_table_tennis/v15/ipch/AutoPCH/71bd80809aa53dc7/DEMODLG.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
demo/.vs/demo/v15/.suo
demo/.vs/demo/v15/Browse.VC.opendb
demo/.vs/demo/v15/Browse.VC.db
demo/.vs/demo/v15/ipch/4ddd881b57a17ea6.ipch
demo/.vs/demo/v15/ipch/a9e19e450ec37623.ipch
demo/.vs/demo/v15/ipch/ead6992fa8462c4c.ipch
demo/Debug/CvvImage.obj
demo/Debug/demo.ilk
demo/Debug/demo.exe
demo/Debug/demo.log
demo/Debug/demo.obj
demo/Debug/demo.pch
demo/Debug/demo.pdb
demo/Debug/demo.res
demo/Debug/demo.tlog/CL.command.1.tlog
demo/Debug/demo.tlog/CL.read.1.tlog
demo/Debug/demo.tlog/CL.write.1.tlog
demo/Debug/demo.tlog/demo.lastbuildstate
demo/Debug/demo.tlog/link.command.1.tlog
